<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="loginform.Properties.Settings.bankingConnectionString"
            connectionString="Data Source=LAPTOP-SOBUSR0C\SQLEXPRESS;Initial Catalog=banking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="loginform.Properties.Settings.bank_detailsConnectionString"
            connectionString="Data Source=LAPTOP-SOBUSR0C\SQLEXPRESS;Initial Catalog=bank_details;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>